
<app-banner></app-banner>

<!-- définir les liens avec leurs url cible
<a routerLink=""> Acceuil</a><br/>
<a routerLink="afficher"> Affichage</a><br/>
<a routerLink="ajouter"> Ajout</a><br/>

-->
<a routerLink=""> Acceuil</a><br/>
<a routerLink="listeProduit">Liste des produits </a><br/>
<a routerLink="ajouterProduit"> Ajouter un produit</a><br/>


<!--definir l'emplacement des composants routés-->


<router-outlet></router-outlet>

<!--<app-afficher-contact></app-afficher-contact>-->
<!-- <app-ajout-contact></app-ajout-contact> -->

<app-footer></app-footer>