<div>
    <h2>Liste des Produits</h2>
    <label for="category">Filtrer par catégorie :</label>
    <select
    id="category"
    [(ngModel)]="selectedCategoryId"
    (change)="onCategoryChange()"
  >
    <option [value]="null">Toutes les catégories</option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </option>
  </select>
  
  
    <ul>
      <li *ngFor="let product of products">
        {{ product.name }} - {{ product.price }}€
        <small *ngIf="product.category">({{ product.category.name }})</small>
        <small *ngIf="!product.category">(Catégorie non définie)</small>
      </li>
    </ul>
  </div>
  